namespace {{name}} {
  {{#classes}}
    {{> class }}
  {{/classes}}

  {{#enums}}
    {{> enum}}
  {{/enums}}

  {{#types}}
    {{> type}}
  {{/types}}

  {{#references}}
    {{> reference}}
  {{/references}}
}
